.head{
    colour:darkblue;
}




#bglime{
    font-size:xx-large;
    background-color: limegreen;
}


body{
    background-color: rgb(255, 141, 70);
    color: darkblue;
}

p{
    color: white;
}

#para{
    color: green;
}

.highlight{
  color: rgb(0, 0, 0);          
  font-size: xx-large;   
}

.fake-link {
    background-color: yellow;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.fake-link:hover {
  color: darkblue;
  text-decoration: underline;
}


ol li:nth-child(2){
    color:rgb(68, 0, 255);
}


ol li:nth-child(3){
    color:rgb(255, 4, 0);
}
    color:rgb(255, 0, 238);
}
